h1 {
  font-family: 'Playfair Display', serif;
  color: #4d4646;
  text-align: center;
  font-size: 300%;
  margin-top: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4646;
}

h2,address {
  font-family: Georgia, Times, "Times New Roman";
  color: #f5eaea;
  text-align: center;
}

body {
  background-color: #f5eaea;
}

footer { 
  color: #4d4646;
  text-align: center;
  margin-top: 50px;
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  background-color:#30475e;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-spacing: 0.5rem;
  width:70%; 
  margin-left:10%; 
  margin-right:10%;
  margin-bottom: 10%;
  margin-top: 10%;
  font-size: 150%;
}

td, th {
  border: 1px solid #7fcd91;
  padding: 0.5rem;
}

a:link, a:visited {
  color: #4d4646;
  font-family: Georgia, Times, "Times New Roman";
  background-color: #e7b2a5;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border: groove;
  border-color: #f5eaea;
}

a:hover, a:active {
  background-color: lightgreen;
}

#homePageLink {
  display: inline-block;
  border: groove;
  border-color: #f5eaea;
  color: white;
  font-family: Georgia, Times, "Times New Roman";
  background-color: #ba6b57;
}


div {
  width: 300px;
  border: 5px ridge #f5eaea;
  background-color: #5b5656;
  padding: 50px;
  margin: auto;
  text-align: center;
  color: #f5eaea;
  margin-top: 50px;
}

#infoBox {
  background-color: #ba6b57;
}

#addresBox {
  background-color: #30475e;
}

