h1 {
  font-family: 'Playfair Display', serif;
  color: #4d4646;
  text-align: center;
  font-size: 300%;
  margin-top: 50px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4646;
}

h2,address {
  font-family: Georgia, Times, "Times New Roman";
  color: #f5eaea;
  text-align: center;
}

body {
  background-color: #f5eaea;
}

footer { 
  color: #4d4646;
  text-align: center;
  margin-top: 50px;
  font-size: 110%;
  padding-top: 10px;
  padding-bottom: 10px;
}

table {
  background-color:#30475e;
  color: white;
  text-align: center;
  margin: 0 auto;
  border-spacing: 0.5rem;
  width:70%; 
  margin-left:10%; 
  margin-right:10%;
  margin-bottom: 5%;
  margin-top: 5%;
  font-size: 150%;
}

td, th {
  border: 1px solid #7fcd91;
  padding: 0.5rem;
}

a:link, a:visited, #homePageLink {
  color: #f5eaea;
  font-family: Georgia, Times, "Times New Roman";
  background-color: #30475e;
  text-align: center; 
  display: inline-block;
  border: groove;
  border-color: #f5eaea;
}

a:hover, a:active {
  background-color: #4d4646;
}

#homePageLink {
  width: 10%; 
  margin: 0 auto;
  font-size: 100%;
  background-color: #4d4646;
}

#linkBox {
  background-color: #ba6b57;
}

#addresBox, #infoBox {
  background-color: #30475e;
}

caption {
  background-color:#30475e;
  color: #7fcd91;
  text-align: center;
  border-spacing: 0.5rem;
  font-size: 130%;
  border: 1px solid #7fcd91;
}
 main {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center
 }

main div {
  width: 100%;
  color: #f5eaea;
  border: 5px ridge #f5eaea;
  background-color: #5b5656;
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

address,h2,a {
  margin-left:10%; 
  margin-right:10%;
  margin-bottom: 10%;
  margin-top: 5%;
  width: 50%;
  padding: 30px;
  text-align: center;
  line-height: 20px;
}

.dropbtn {
  background-color: #30475e;
  color: #f5eaea;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ba6b57;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #f5eaea;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #4d4646;}

.dropdown:hover .dropdown-content {display: block;}

form {
  width: 50%;
  background-color: #30475e;
  color: white;
  padding: 30px;
  display:table;
  margin:auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #7fcd91;
  border-radius: 4px;
  background-color: white;
  color: black;
}

button {
  background-color: #ba6b57;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}